<?xml version="1.0" encoding="utf-8"?>
<!-- Debug-only overlay: lets `adb shell am start` drive the app from CI
     (on API 34+ the shell cannot start non-exported components). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>

</manifest>
